
* {font-family: Georgia, serif;
}

body {
	background-color: rgb(242, 242, 242);
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0;
	color: black;
	text-align: center;
}

#header {
	font-family: Georgia, Serif;
	background-image: url("images/texture2.jpg");
	font-size: 1.25em;
	text-align: center;
	padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 26, 51);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(38, 77, 115);
    text-decoration: underline;
}

h1 {color: rgb(242, 242, 242);
	text-shadow: 1px 1px 0px #000000;
}

img { 
	border-style: solid;
	border-width: 2px;
	border-color: #333333;
	margin-top: 20px;
	height: 250px;
}

/*blockquote { 
	width: 250px;
	font-size: 1.5em;
	background-color: rgb(38, 77, 115);
	border-style: solid;
	border-width: 2px;
	border-color: #333333;
	padding: 8px;
	margin: auto;
	color: rgb(242, 242, 242);
}*/

#leah, .img1 {
	vertical-align: top;
    display: inline-block;
    margin: 25px 25px 25px auto;
    border-radius: 10px;
 }

#leah {
	display: inline-block;
	height: 325px;
	width: 400px;
	background-color: rgb(38, 77, 115);
	border-style: solid;
	border-width: 4px;
	border-color: #333333;
	margin-top: 20px;
	padding: 15px;
	color: rgb(242, 242, 242);
}

.img1 { 
    display: inline-block;
    border-width: 4px;
    border-color: #333333;
    height: 350px;
}

form, #contact { 
	vertical-align: top;
    display: inline-block;
    margin: 25px 25px 25px auto;
}

form {
	color: #333333;
	border-style: solid;
	border-width: 4px;
	border-color: #333333;
	border-radius: 10px;
	height: 330px;
	width: 340px;
	padding: 10px;
	font-size: 1.5em;
	box-shadow: 5px 5px 5px #888888;
}

input, textarea {
	margin: 10px;
 }

#contact { 
	color: #333333;
	border-style: solid;
	border-width: 4px;
	border-color: #333333;
	border-radius: 10px;
	height: 250px;
	width: 300px;
	padding: 5px;
	font-size: 1.5em;
	text-align: center;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 65px;
}

#contact a:link {
	color: #333333;
	text-decoration: underline;}
#contact a:hover {
	background-color: transparent;}
#contact a:visited, #contact a:active {
  color: #333333;
  text-decoration: none;
}

input { 
	color: rgb(38, 77, 115);
}

#photos {padding: 5px; 
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(0, 26, 51);
	color: rgb(242, 242, 242);
	text-align: left;
	text-indent: 15px;
 }
